@page
@model DevChatter.Bot.Web.Pages.BotAdminModel
@{
    ViewData["Title"] = "BotAdmin";
}

<h2>BotAdmin</h2>


<form method="post">
    <input type="submit" value="Start">
</form>


<label>@Model.Message</label>

