@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-3">

    <ul class="list-group affix">
        <li class="list-group-item">Bot Administration</li>

        <li class="list-group-item">
            <span class="badge">14</span>
            Current Chat Voyeurism
        </li>

        <li class="list-group-item">Command Configuration</li>
        <li class="list-group-item">Currency Management</li>
        <li class="list-group-item">Schedule Management</li>
    </ul>

</div>

<div class="col-md-9">

    <img class="img img-responsive" src="http://www.sukumaradio.com/uc1.gif.pagespeed.ce.-GMgq9c-vf.gif" />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bot Administration</h3>
        </div>
        <div class="panel-body">

            <p>Turn bot on/off</p>

            <p>Twitch Configuration</p>

            <p>Greetings</p>
            <p>Startup</p>

            <p>Fare Thee Well</p>
            <p>New Subscriber</p>
            <p>New Follower</p>

        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Interval Messaging</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Delay in Minutes</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tr>
                    <td>3</td>
                    <td>Something to say</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Something to say less often</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Schedule Management</h3>
        </div>
        <div class="panel-body">
            This is the schedule:
            <ul>
                <li>Mondays at 2 PM EDT</li>
                <li>Tuesdays at 2 PM EDT</li>
                <li>Thursdays at 12 PM EDT</li>
                <li>Saturdays at 1 PM EDT</li>
            </ul>

            <p><a asp-page="Schedule/Index">Edit the Schedule</a></p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Template</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>


</div>
