@page
@model DevChatter.Bot.Web.Pages.OverlayModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevChatterBot Overlay</title>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/lib/chartjs/Chart.js"></script>
    <script src="~/js/sprite.js"></script>
    <script src="~/js/hangman.js"></script>
    <script src="~/js/voting.js"></script>
    <script src="~/js/animations.js"></script>
    <script src="~/js/fireworks/particle.js"></script>
    <script src="~/js/fireworks/firework.js"></script>
    <script src="~/js/fireworks/fireworks.js"></script>
    <script src="~/js/overlay.js" type="module"></script>
    <link href="~/lib/awesome-notifications/dist/style.css" rel="stylesheet" />
    <style>
        #votingCanvas {
            width: 600px !important;
            height: 300px !important;
            display: none;
            background-color: #DDDDDD;
        }
    </style>
</head>
<body>
    <div id="wrapper" style="position: relative;">
        @foreach (var canvas in Model.Canvases)
        {
            <canvas style="position: absolute; top:@(canvas.TopY + "px"); left:@(canvas.LeftX + "px");" id="@canvas.CanvasId" width="@canvas.Width" height="@canvas.Height"></canvas>
        }
    </div>
    <environment include="Development">
        <script src="~/lib/awesome-notifications/dist/index.var.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
