@page
@model DevChatter.Bot.Web.Pages.OverlayModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevChatterBot Overlay</title>
</head>
<body>
</body>
</html>
