@page
@model DevChatter.Bot.Web.Pages.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>QuoteEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuoteEntity.QuoteId" class="control-label"></label>
                <input asp-for="QuoteEntity.QuoteId" class="form-control" />
                <span asp-validation-for="QuoteEntity.QuoteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteEntity.Text" class="control-label"></label>
                <input asp-for="QuoteEntity.Text" class="form-control" />
                <span asp-validation-for="QuoteEntity.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteEntity.Author" class="control-label"></label>
                <input asp-for="QuoteEntity.Author" class="form-control" />
                <span asp-validation-for="QuoteEntity.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteEntity.AddedBy" class="control-label"></label>
                <input asp-for="QuoteEntity.AddedBy" class="form-control" />
                <span asp-validation-for="QuoteEntity.AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteEntity.DateAdded" class="control-label"></label>
                <input asp-for="QuoteEntity.DateAdded" class="form-control" />
                <span asp-validation-for="QuoteEntity.DateAdded" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="QuoteEntity.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
