@page
@model DevChatter.Bot.Web.Pages.Commands.Manage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CommandEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CommandEntity.CommandWord" class="control-label"></label>
                <input asp-for="CommandEntity.CommandWord" class="form-control" />
                <span asp-validation-for="CommandEntity.CommandWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommandEntity.FullTypeName" class="control-label"></label>
                <input asp-for="CommandEntity.FullTypeName" class="form-control" />
                <span asp-validation-for="CommandEntity.FullTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CommandEntity.IsEnabled" /> @Html.DisplayNameFor(model => model.CommandEntity.IsEnabled)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="CommandEntity.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
